@media screen and (max-width : 767px){
    /* 메인 */
    /* 메인 공통 */
    .mainPage{position: relative; overflow: hidden;}
    .mainPage .BG{position: relative; background: url('../images/main-moimOn.png') no-repeat center top 250px / calc(100% + 70px); overflow: hidden;}
    .mainPage .BGArea{position: absolute; left: 50%; top: 0; width: 550px; height: 100%; transform: translateX(-50%); transition: 0.5s;}
    .mainPage .BGArea img{position: absolute;}
    .mainPage .BGArea img:nth-child(1){width: 158px; left: 0; top: 56px;}
    .mainPage .BGArea img:nth-child(2){width: 209px; right: 0; top: 194px;}
    .mainPage .BGArea .circle{position: absolute; border-radius: 100%; background: url('../images/main-circle.png') no-repeat center / cover; mix-blend-mode: difference; z-index: 1;
        animation-name: float; animation-duration: calc(var(--i ) * 2s); animation-timing-function: cubic-bezier(.1,.1,.88,.88); animation-iteration-count: infinite;}
    .mainPage .BGArea .circle:nth-of-type(2n){animation-direction: reverse;}
    .mainPage .BGArea .circle:nth-of-type(1){width: 40px; height: 40px; top: 65px; right: 155px;}
    .mainPage .BGArea .circle:nth-of-type(2){width: 31px; height: 31px; top: 270px; left: 150px;}
    .mainPage .BGArea .circle:nth-of-type(3){width: 82px; height: 82px; top: 464px; left: 280px;}
    .mainPage .BGArea .circle:nth-of-type(n + 4){display: none;}
    @keyframes float {
        0% {
          transform: translate(0,0) rotate(0deg);
        }
        50% {
          transform: translate(0,calc(var(--i ) * 20px));
        }
        100% {
          transform: translate(0,0) rotate(360deg);
        }
    }
    .mainPage .contentArea img{width: 100%;}
    .mainPage .contentArea h3 + p{font-size: 16px; line-height: 22px; margin-top: 16px;}
    /* 메인 - 상단*/
    .mainPage .contentArea{text-align: center; position: relative; z-index: 10;}
    .mainPage .contentArea h2{margin-bottom: 52px;}
    .mainPage .contentArea h2 b{display: block; font-weight: 500; /* max-width: 260px; */ margin: 0 auto 16px;}
    .mainPage .contentArea > a{display: none; width: 200px; height: 62px; font-size: 19px; font-weight: 500; margin-bottom: 40px;}
    .mainPage .contentArea > p{font-size: 14px; font-weight: 400; color: #666666; line-height: 20px; margin-bottom: 186px;}
    .mainPage .contentArea > p a{font-weight: 700; text-decoration: underline; text-decoration-color: #32c5f4; text-decoration-thickness: 2px;}
    .mainPage .contentArea section:not(:last-of-type){margin-bottom: 80px;}
    /* 메인 - 조직도 연동을 통한 명확한 협업 시스템 */
    .mainPage .contentArea .systemArea .tabBtn{max-width: 640px; margin: 0 auto 60px; overflow: auto;}
    .mainPage .contentArea .systemArea .tabBtn ul.menuBox{width: 580px; display: flex; justify-content: space-between; align-items: center; padding: 0 30px;}
    .mainPage .contentArea .systemArea .tabBtn ul li{flex-shrink: 0; padding: 0 20px; line-height: 44px; font-size: 17px; font-weight: 500; text-align: center; background-color: #eeeeee; border-radius: 10em; cursor: pointer;}
    .mainPage .contentArea .systemArea .tabBtn ul li:is(.active , :hover){color: white; background-color: #191a1c;}
    .mainPage .contentArea .systemArea .tabContents{margin-bottom: 50px;}
    .mainPage .contentArea .systemArea .tabContents > div{display: none; background-repeat: no-repeat; background-position: center bottom; background-size: 500px; padding-bottom: 491px;}
    .mainPage .contentArea .systemArea .tabContents > div.active{display: block;}
    .mainPage .contentArea .systemArea .tabContents > div:nth-of-type(1){background-image: url('../images/m-main-sysyem01.png');}
    .mainPage .contentArea .systemArea .tabContents > div:nth-of-type(2){background-image: url('../images/m-main-sysyem02.png');}
    .mainPage .contentArea .systemArea .tabContents > div:nth-of-type(3){background-image: url('../images/m-main-sysyem03.png');}
    .mainPage .contentArea .systemArea .tabContents > div:nth-of-type(4){background-image: url('../images/m-main-sysyem04.png');}
    .mainPage .contentArea .systemArea .tabContents > div p{margin-bottom: 40px;}
    .mainPage .contentArea .systemArea .tabContents > div > a{width: 155px; height: 46px; font-size: 15px; font-weight: 500;}
    .mainPage .contentArea .systemArea .bannerLink{width: 100%; height: 0; padding-bottom: 27%; background: url('../images/m-main-banner.png') no-repeat center / 100%; text-indent: -9999px;}
    /* 메인 - MoimTalK, 안심하고 오래 함께할 수 있도록 */
    .mainPage .reliefArea > p{margin-bottom: 60px;}
    .mainPage .reliefArea ul{max-width: 260px; text-align: left; margin: 0 auto;}
    .mainPage .reliefArea ul li{height: 200px; font-size: 15px; color: #000; background-repeat: no-repeat; background-position: center right; background-size: cover;}
    .mainPage .reliefArea ul li:not(:last-child){margin-bottom: 20px;}
    .mainPage .reliefArea ul li:nth-child(1){background-image: url('../images/main-relief01.png');}
    .mainPage .reliefArea ul li:nth-child(2){background-image: url('../images/main-relief02.png');}
    .mainPage .reliefArea ul li:nth-child(3){background-image: url('../images/main-relief03.png');}
    .mainPage .reliefArea ul li strong{display: flex; align-items: flex-start; font-size: 56px; font-weight: 800;}
    .mainPage .reliefArea ul li strong::after{content: '+'; font-size: 29.4px;}
    /* 메인 - 고객의 동반자로서 기술 이상의 가치 */
    .mainPage .contentArea .companionArea h3{margin-bottom: 60px;}
    .mainPage .contentArea .companionArea ul{max-width: 391px; margin: 0 auto; margin-bottom: 80px;}
    .mainPage .contentArea .companionArea ul li{height: 101px; display: flex; align-items: center; justify-content: center; font-size: 17px; font-weight: 400; color: #666666; line-height: 22px; padding-left: 131px; background-repeat: no-repeat; background-size: 101px; background-position: left center;}
    .mainPage .contentArea .companionArea ul li:not(:last-child){margin-bottom: 36px;}
    .mainPage .contentArea .companionArea ul li:nth-child(1){background-image: url('../images/main-companion-prize01.png');}
    .mainPage .contentArea .companionArea ul li:nth-child(2){background-image: url('../images/main-companion-prize02.png');}
    .mainPage .contentArea .companionArea ul li:nth-child(3){background-image: url('../images/main-companion-prize03.png');}
    .mainPage .contentArea .companionArea ul li:nth-child(4){background-image: url('../images/main-companion-prize04.png');}
    .mainPage .contentArea .companionArea .companionImg{padding-bottom: 163%; background: transparent url('../images/m-main-companion.png') no-repeat center / cover; height: 0.1px; overflow: hidden; text-indent: -9999px;}
    /* 메인 - 지금 바로, MoimOn/MoimTalk을 만나보세요 */
    .mainPage .contentArea .optimizationArea h3{margin-bottom: 40px;}
    .mainPage .contentArea .optimizationArea ul{display: flex; flex-wrap: wrap; justify-content: center; gap: 15px 20px;}
    .mainPage .contentArea .optimizationArea ul li a{width: 200px; height: 62px; font-size: 19px; font-weight: 500;}

    /* 서비스 */
    /* 서비스 공통 */
    .servicePage .contentArea{text-align: center;}
    .servicePage .contentArea section{text-align: left;}
    /* 서비스 소개 */
    .introducePage h2{text-align: center; margin-bottom: 40px;}
    .introducePage .rowScroll{overflow: auto; height: 110px; position: sticky; top: 0; background-color: white; transition: top 0.5s; z-index: 10; transition: 0.5s;}
    .introducePage .rowScroll.active{top: 60px;}
    .introducePage .rowScroll ul{width: 800px; margin: 0 auto; display: flex; justify-content: space-between; transition: 0.5s; padding: 0 30px;}
    .introducePage .rowScroll ul li{width: 70px; transition: 0.5s;}
    .introducePage .rowScroll ul li a{display: block; font-size: 14px; text-align: center; padding-top: 51px; background-repeat: no-repeat; background-position: center top; background-size: 43px; transition: 0.5s;}
    .introducePage .rowScroll ul li:nth-child(1) a{background-image: url('../images/service-subMenu01.png');}
    .introducePage .rowScroll ul li:nth-child(2) a{background-image: url('../images/service-subMenu02.png');}
    .introducePage .rowScroll ul li:nth-child(3) a{background-image: url('../images/service-subMenu03.png');}
    .introducePage .rowScroll ul li:nth-child(4) a{background-image: url('../images/service-subMenu04.png');}
    .introducePage .rowScroll ul li:nth-child(5) a{background-image: url('../images/service-subMenu05.png');}
    .introducePage .rowScroll ul li:nth-child(6) a{background-image: url('../images/service-subMenu06.png');}
    .introducePage .rowScroll ul li:nth-child(7) a{background-image: url('../images/service-subMenu07.png');}
    .introducePage .rowScroll.change{background-color: #32c5f4; height: auto;}
    .introducePage .rowScroll.change ul{justify-content: center; align-items: center; width: 720px;}
    .introducePage .rowScroll.change ul li{width: auto;}
    .introducePage .rowScroll.change ul li:not(:last-child){margin-right: 60px;}
    .introducePage .rowScroll.change ul li a{color: white; font-size: 16px; font-weight: 700; background: none; padding: 0; line-height: 60px; position: relative;}
    .introducePage .rowScroll.change ul li.active a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background-color: white;}
    .introducePage .contentArea section:first-of-type{padding-top: 150px;}
    .introducePage .contentArea section:not(:first-of-type){padding-top: 150px;}
    .introducePage .contentArea section:nth-of-type(2n) .textArea{order: 1;}
    .introducePage .contentArea section .textArea h3{margin-bottom: 30px;}
    .introducePage .contentArea section .textArea .mobileImg{margin-bottom: 12px;}
    .introducePage .contentArea section .textArea .mobileImg img{width: 100%;}
    .introducePage .contentArea section .textArea ol{color: #000000;}
    .introducePage .contentArea section .textArea ol li{counter-increment: olCounter;}
    .introducePage .contentArea section .textArea ol li:not(:last-child){margin-bottom: 30px;}
    .introducePage .contentArea section .textArea ol li::before{content: '0' counter(olCounter); display: block; font-size: 15px; font-weight: 700; color: #32c5f4; line-height: 19px; margin-bottom: 12px;}
    .introducePage .contentArea section .textArea ol li strong{display: block; font-size: 18px; font-weight: 500; line-height: 21px; margin-bottom: 8px;}
    .introducePage .contentArea section .textArea ol li p{font-size: 16px; font-weight: 400; line-height: 22px;}
    .introducePage .contentArea section .imgArea{display: none;}
    .introducePage .contentArea section .imgArea{flex: 1; position: relative;}
    .introducePage .contentArea section .imgArea img{position: absolute;}
    .introducePage .contentArea section .imgArea img{width: 100%; max-width: 370px; left: 50%; top: 50%; transform: translate(-50% , -50%);}
    .introducePage .contentArea section .imgArea img[src$="02.png"]{display: none;}

    /* 서비스 연계 */
    .linkPage .contentArea h2{margin-bottom: 80px;}
    .linkPage .contentArea > p{display: none;}
    .linkPage .contentArea section{/* display: flex; align-items: center; */}
    .linkPage .contentArea section:not(:last-of-type){margin-bottom: 150px;}
    .linkPage .contentArea section div h3{margin-bottom: 30px;}
    .linkPage .contentArea section div :is(ul , p){font-size: 15px; line-height: 22px; margin-bottom: 50px;}
    .linkPage .contentArea section img{width: 100%; max-width: 400px;}
    .linkPage .contentArea .botArea div{margin-right: 2.45%;}
    .linkPage .contentArea .botArea div strong{display: block; font-size: 18px; font-weight: 500; line-height: 21px; margin-bottom: 23px;}


    /* 서비스 보안 */
    .securityPage h2{padding: 70px 0 80px; text-align: center;}
    .securityPage .rowScroll{background-color: #32c5f4; margin-bottom: 120px; overflow: auto; position: sticky; top: 0; transition: top 0.5s;}
    .securityPage .rowScroll.active{top: 60px;}
    .securityPage .rowScroll ul{display: flex; justify-content: center; width: 365px; margin: 0 auto; padding: 0 30px;}
    .securityPage .rowScroll ul li:not(:last-child){margin-right: 60px;}
    .securityPage .rowScroll ul li a{font-size: 16px; font-weight: 700; color: white; line-height: 60px;}
    .securityPage .rowScroll ul li.active a{border-bottom: 3px solid white;}
    .securityPage > div section{text-align: center;}
    .securityPage > div > *:not(:last-child){margin-bottom: 130px;}
    .securityPage > div section h3{margin-bottom: 30px;}
    .securityPage > div section p{font-size: 15px; line-height: 22px;}
    .securityPage > div section h3 + p{margin-bottom: 70px;}
    .securityPage .chineseWall figure{text-align: center;}
    .securityPage .chineseWall figure img{width: 100%; margin-bottom: 70px;}
    .securityPage .chineseWall figure figcaption{max-width: 630px; margin: 0 auto;}
    .securityPage .chineseWall figure figcaption h4{font-size: 18px; font-weight: 500; line-height: 21px; margin-bottom: 24px;}
    .securityPage .chineseWall figure figcaption p:not(:last-of-type){margin-bottom: 24px;}
    .securityPage .receptionArea{background-color: #f5f6f7; padding: 130px 0;}
    .securityPage :is(.receptionArea , .encryptionArea) img{width: 100%; margin-bottom: 69.5px;}
    .securityPage :is(.receptionArea , .encryptionArea) img + p{margin: 0 auto; padding-top: 29.5px; border-top: 1px solid #d4d4d4;}

    /* 다운로드 */
    .downloadPage .contentArea{padding-top: 70px;}
    .downloadPage .contentArea h2{text-align: center; margin-bottom: 80px;}
    .downloadPage .contentArea section{background-repeat: no-repeat; background-position: center bottom 40px; background-size: 100%; padding-bottom: calc(90% + 60px);}
    .downloadPage .contentArea section:nth-of-type(1){background-image: url('../images/download-img01.png');}
    .downloadPage .contentArea section:nth-of-type(2){background-image: url('../images/download-img02.png');}
    .downloadPage .contentArea section:nth-of-type(3){background-image: url('../images/download-img03.png');}
    .downloadPage .contentArea section:not(:last-of-type){box-shadow: inset 0 -1px 0 0 #eee; margin-bottom: 40px;}
    .downloadPage .contentArea section h3{margin-bottom: 10px;}
    .downloadPage .contentArea section p{font-size: 15px; color: #666666; line-height: 22px; margin-bottom: 20px;}
    .downloadPage .contentArea section ul li:not(:last-child){margin-bottom: 12px; }
    .downloadPage .contentArea section ul li a{width: 194px; height: 56px; display: flex; justify-content: center; align-items: center;}
    .downloadPage .contentArea section ul li a::before{content: ''; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .downloadPage .contentArea section ul li a span{flex-shrink: 0; width: 100px; font-size: 18px; font-weight: 500; color: white; margin-left: 12px;}
    .downloadPage .contentArea section ul li a[data-type="aos"]::before{background-image: url('../images/icon-aos.png');}
    .downloadPage .contentArea section ul li a[data-type="apple"]::before{background-image: url('../images/icon-apple.png');}
    .downloadPage .contentArea section ul li a[data-type="windows"]::before{background-image: url('../images/icon-windows.png');}

    /* 상세페이지 */
    .detailPage .contentArea .titleArea{height: 204px; display: flex; flex-direction: column; justify-content: center;}
    .detailPage .contentArea .titleArea mark{font-size: 16px; font-weight: 700; line-height: 19px; margin-bottom: 16px;}
    .detailPage .contentArea .titleArea strong{font-size: 22px; margin-bottom: 50px;}
    .detailPage .contentArea .titleArea time{font-size: 14px; color: #b6b9bc;}
    .detailPage .contentArea .editor{min-height: 500px; padding: 30px 0; border-width: 1px 0; border-style: solid; border-color: #eee; box-sizing: border-box; margin-bottom: 50px;}
    .detailPage .contentArea > a{width: 140px; height: 56px; font-size: 17px; display: flex; margin: 0 auto;}
    

    /* 자주 묻는 질문 */
    .FAQPage .contentArea ul li{box-shadow: inset 0 -1px 0 0 #eee;}
    .FAQPage .contentArea ul li button{width: 100%; display: flex; justify-content: start; align-items: flex-start; font-size: 17px; font-weight: 400; color: #000; line-height: 24px; text-align: left; padding: 30px 16px;}
    .FAQPage .contentArea ul li button.active{font-weight: 700;}
    .FAQPage .contentArea ul li button::before{content: 'Q.'; font-size: 21px;}
    .FAQPage .contentArea ul li button::after{content: ''; flex-shrink: 0; align-self: center; width: 36px; height: 36px; background: url('../images/icon-open.png') no-repeat center / cover; margin-left: auto; transform: rotate(180deg); transition: transform 0.5s; margin-right: 10px;}
    .FAQPage .contentArea ul li button.active::after{transform: rotate(0);}
    .FAQPage .contentArea ul li div{display: none; font-size: 17px; font-weight: 400; color: #666; line-height: 24px;  padding: 30px 20px; background-color: #eeeeee; box-sizing: border-box;}
    .FAQPage .contentArea ul li div::before{content: 'A.'; font-size: 21px; color: rgba(0, 0, 0, 0.3); vertical-align: middle;}
    .FAQPage .contentArea ul li > *::before{font-size: 24px; font-weight: 700; margin-right: 19px;}

    /* 도입문의 */
    .inquiryPage .contentArea fieldset{max-width: 790px; width: calc(100% - 60px); margin: 0 auto; text-align: center;}
    .inquiryPage .contentArea fieldset ul{margin-bottom: 60px; text-align: left;}
    .inquiryPage .contentArea fieldset ul li{position: relative;}
    .inquiryPage .contentArea fieldset ul li label{display: block; font-size: 14px; font-weight: 500; line-height: 18px; margin-bottom: 11px;}
    .inquiryPage .contentArea fieldset ul li:has(:required) label::after{content: '*'; color: #32c5f4;}
    .inquiryPage .contentArea fieldset ul li :is(input , select , .selectBox){height: 54px;}
    .inquiryPage .contentArea fieldset ul li :is(input , select , textarea , .selectBox){width: 100%; padding: 18px; border: 1px solid #d2d2d2; border-radius: 6px; box-sizing: border-box; outline-color: black;}
    .inquiryPage .contentArea fieldset ul li :is(input , select , textarea)::placeholder{color: rgba(25, 26, 28, 0.3);}
    .inquiryPage .contentArea fieldset ul li select{display: none; background: url('../images/icon-drop-down.png') no-repeat center right 18px / 24px;}
    .inquiryPage .contentArea fieldset ul li .selectBox{color: rgba(25, 26, 28, 0.3); background: url('../images/icon-drop-down.png') no-repeat center right 18px / 24px; cursor: pointer;}
    .inquiryPage .contentArea fieldset ul li .selectBox.active{color: #191a1c;}
    .inquiryPage .contentArea fieldset ul li .selectList{display: none; position: absolute; top: calc(100% + 10px); left: 0; width: 100%; padding: 5px; background-color: white; z-index: 1; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%); border-radius: 15px; box-sizing: border-box; overflow: hidden;}
    .inquiryPage .contentArea fieldset ul li .selectList div{font-size: 15px; font-weight: 400; color: #333; line-height: 44px; padding: 0 13px; border-radius: 4px; cursor: pointer;}
    .inquiryPage .contentArea fieldset ul li .selectList div:hover{background-color: #f5f6f7;}
    .inquiryPage .contentArea fieldset ul li select option{display: none;}
    .inquiryPage .contentArea fieldset ul li textarea{height: 270px;}
    .inquiryPage .contentArea fieldset ul li:not(:last-child){margin-bottom: 30px;}
    .inquiryPage .contentArea fieldset > label{display: block; font-size: 16px; font-weight: 400; color: #777; line-height: 24px; margin-bottom: 60px;}
    .inquiryPage .contentArea fieldset > label span{color: #000; font-weight: 500; text-decoration: underline; text-decoration-thickness: 2px;}
    .inquiryPage .contentArea fieldset input[type="checkbox"] + label::before{content: ''; display: inline-block; width: 20px; height: 20px; border: 2px solid #eee; vertical-align: text-top; margin-right: 6px; box-sizing: border-box;}
    .inquiryPage .contentArea fieldset input[type="checkbox"]:checked + label::before{background: url('../images/icon-check.png') no-repeat center / cover; border: none;}
    .inquiryPage .contentArea fieldset input[type="submit"]{width: 164px; height: 54px; font-size: 18px; font-weight: 500; border: none;}
}