@media screen and (min-width : 768px) and (max-width : 1180px) {
    /* 메인 */
    /* 메인 공통 */
    .mainPage .BG{position: relative; background: url('../images/main-moimOn.png') no-repeat center top 351px / calc(100% + 120px);}
    .mainPage .BG .BGArea{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    .mainPage .contentArea img{width: 100%;}
    .mainPage .contentArea h3 + p{font-size: 16px; line-height: 22px; margin-top: 16px;}
    /* 메인 - 상단*/
    .mainPage .contentArea{text-align: center; position: relative; z-index: 10;}
    .mainPage .contentArea h2{margin-bottom: 30px;}
    .mainPage .contentArea h2 b{display: block; font-weight: 500; margin-bottom: 16px;}
    .mainPage .contentArea > a{width: 200px; height: 62px; font-size: 19px; font-weight: 500; margin-bottom: 40px;}
    .mainPage .contentArea > p{font-size: 17px; font-weight: 400; color: #666666; line-height: 20px; margin-bottom: 257px;}
    .mainPage .contentArea > p a{text-decoration: underline; text-decoration-color: #32c5f4; text-decoration-thickness: 2px;}
    .mainPage .contentArea > ul.menuBox{display: flex; justify-content: space-between; align-items: center;}
    .mainPage .contentArea > ul.menuBox{width: 580px; margin: 0 auto;}
    .mainPage .contentArea > ul li{flex-shrink: 0;}
    .mainPage .contentArea > ul li a{padding: 0 20px; line-height: 44px; font-size: 17px; font-weight: 500; text-align: center; background-color: #eeeeee; border-radius: 10em;}
    .mainPage .contentArea > ul li:is(.active , :hover) a{color: white; background-color: #191a1c;}
    .mainPage .contentArea section:first-of-type{margin-top: 70px;}
    .mainPage .contentArea section:not(:last-of-type){margin-bottom: 150px;}
    /* 메인 - 조직도 연동을 통한 명확한 협업 시스템 */
    .mainPage .contentArea .systemArea{background: url('../images/main-sysyem.png') no-repeat center top 155px / 100%;}
    .mainPage .contentArea .systemArea p{margin-bottom: 40px;}
    .mainPage .contentArea .systemArea > a{width: 173px; height: 54px; font-size: 16px; font-weight: 500; margin-bottom: 539px;}
    /* 메인 - MoimTalK, 안심하고 오래 함께할 수 있도록 */
    .mainPage .reliefArea > p{margin-bottom: 90px;}
    .mainPage .reliefArea ul{max-width: 684px; display: flex; justify-content: space-between; text-align: left; margin: 0 auto;}
    .mainPage .reliefArea ul li{width: 208px; height: 200px; font-size: 16px; color: #000; background-repeat: no-repeat; background-position: center right; background-size: cover;}
    .mainPage .reliefArea ul li:nth-child(1){background-image: url('../images/main-relief01.png');}
    .mainPage .reliefArea ul li:nth-child(2){background-image: url('../images/main-relief02.png');}
    .mainPage .reliefArea ul li:nth-child(3){background-image: url('../images/main-relief03.png');}
    .mainPage .reliefArea ul li strong{display: flex; align-items: flex-start; font-size: 64px; font-weight: 800; margin-bottom: 10px;}
    .mainPage .reliefArea ul li strong::after{content: '+'; font-size: 34px;}
    /* 메인 - 고객의 동반자로서 기술 이상의 가치 */
    .mainPage .contentArea .companionArea h3{margin-bottom: 90px;}
    .mainPage .contentArea .companionArea ul{max-width: 532px; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 150px;}
    .mainPage .contentArea .companionArea ul li{flex-shrink: 0; width: 246px; font-size: 20px; font-weight: 400; color: #666666; line-height: 22px; padding-top: 200px; background-repeat: no-repeat; background-size: 180px; background-position: center top;}
    .mainPage .contentArea .companionArea ul li:not(:nth-last-child(-n + 2)){margin-bottom: 60px;}
    .mainPage .contentArea .companionArea ul li:nth-child(1){background-image: url('../images/main-companion-prize01.png');}
    .mainPage .contentArea .companionArea ul li:nth-child(2){background-image: url('../images/main-companion-prize02.png');}
    .mainPage .contentArea .companionArea ul li:nth-child(3){background-image: url('../images/main-companion-prize03.png');}
    .mainPage .contentArea .companionArea ul li:nth-child(4){background-image: url('../images/main-companion-prize04.png');}
    /* 메인 - 지금 바로, MoimOn/MoimTalk을 만나보세요 */
    .mainPage .contentArea .optimizationArea h3{margin-bottom: 40px;}
    .mainPage .contentArea .optimizationArea ul{display: flex; justify-content: center;}
    .mainPage .contentArea .optimizationArea ul li:not(:last-child){margin-right: 20px;}
    .mainPage .contentArea .optimizationArea ul li a{width: 200px; height: 62px; font-size: 19px; font-weight: 500;}

    /* 서비스 */
    /* 서비스 공통 */
    .servicePage .contentArea{text-align: center;}
    .servicePage .contentArea section{text-align: left;}
    /* 서비스 소개 */
    .introducePage .contentArea h2{margin-bottom: 70px;}
    .introducePage .contentArea .rowScroll{margin-bottom: 100px; overflow: auto; height: 115px;}
    .introducePage .contentArea .rowScroll ul{width: 840px; margin: 0 auto; display: flex; justify-content: space-between;}
    .introducePage .contentArea .rowScroll ul li{width: 70px;}
    .introducePage .contentArea .rowScroll ul li a{display: block; text-align: center; padding-top: 80px; background-repeat: no-repeat; background-position: center top; background-size: 60px;}
    .introducePage .contentArea .rowScroll ul li:nth-child(1) a{background-image: url('../images/service-subMenu01.png');}
    .introducePage .contentArea .rowScroll ul li:nth-child(2) a{background-image: url('../images/service-subMenu02.png');}
    .introducePage .contentArea .rowScroll ul li:nth-child(3) a{background-image: url('../images/service-subMenu03.png');}
    .introducePage .contentArea .rowScroll ul li:nth-child(4) a{background-image: url('../images/service-subMenu04.png');}
    .introducePage .contentArea .rowScroll ul li:nth-child(5) a{background-image: url('../images/service-subMenu05.png');}
    .introducePage .contentArea .rowScroll ul li:nth-child(6) a{background-image: url('../images/service-subMenu06.png');}
    .introducePage .contentArea .rowScroll ul li:nth-child(7) a{background-image: url('../images/service-subMenu07.png');}
    .introducePage .contentArea section{display: flex; max-width: 780px; margin: 0 auto;}
    .introducePage .contentArea section:not(:last-of-type){margin-bottom: 250px;}
    /* .introducePage .contentArea section:nth-of-type(2n + 1) .textArea{margin-right: 7.62%;} */
    .introducePage .contentArea section:nth-of-type(2n) .textArea{order: 1; /* margin-left: 7.62%; */}
    .introducePage .contentArea section .textArea{flex-shrink: 0; width: 365px;}
    .introducePage .contentArea section .textArea h3{margin-bottom: 60px;}
    .introducePage .contentArea section .textArea ol{color: #000000;}
    .introducePage .contentArea section .textArea ol li{counter-increment: olCounter;}
    .introducePage .contentArea section .textArea ol li:not(:last-child){margin-bottom: 30px;}
    .introducePage .contentArea section .textArea ol li::before{content: '0' counter(olCounter); display: block; font-size: 16px; font-weight: 700; color: #32c5f4; line-height: 19px; margin-bottom: 12px;}
    .introducePage .contentArea section .textArea ol li strong{display: block; font-size: 24px; font-weight: 500; line-height: 29px; margin-bottom: 12px;}
    .introducePage .contentArea section .textArea ol li p{font-size: 16px; font-weight: 400; line-height: 22px;}
    .introducePage .contentArea section .imgArea{flex: 1; position: relative;}
    .introducePage .contentArea section .imgArea img{position: absolute;}
    /* .introducePage .contentArea section .imgArea img[data-size="full"]{width: 100%;}
    .introducePage .contentArea section .imgArea img[data-size="small"]{width: 54.41%; z-index: 1;} */
    .introducePage .contentArea section .imgArea img{width: 100%; max-width: 370px; left: 50%; top: 50%; transform: translate(-50% , -50%);}
    .introducePage .contentArea section .imgArea img[src$="02.png"]{display: none;}
    .introducePage footer{margin-top: 150px;}

    /* 서비스 연계 */
    .linkPage .contentArea h2{margin-bottom: 27px;}
    .linkPage .contentArea > p{margin-bottom: 170px;}
    .linkPage .contentArea section{display: flex; align-items: center;}
    .linkPage .contentArea section:not(:last-of-type){margin-bottom: 240px;}
    .linkPage .contentArea section div h3{margin-bottom: 40px;}
    .linkPage .contentArea section div :is(ul , p){font-size: 16px; line-height: 22px;}
    .linkPage .contentArea .botArea div{margin-right: 2.45%;}
    .linkPage .contentArea .botArea div strong{display: block; font-size: 24px; font-weight: 500; line-height: 29px; margin-bottom: 12px;}
    .linkPage .contentArea .botArea img{width: 41.52%;}
    .linkPage .contentArea .awaremessArea div{order: 1; margin-left: 5.93%;}
    .linkPage .contentArea .awaremessArea img{width: 59.32%;}


    /* 다운로드 */
    .downloadPage .contentArea h2{text-align: center; margin-bottom: 70px;}
    .downloadPage .contentArea section{height: 390px; display: flex; flex-direction: column; justify-content: center; background-repeat: no-repeat; background-position: right center; background-size: 45%; padding-right: 416px;}
    .downloadPage .contentArea section:nth-of-type(1){background-image: url('../images/download-img01.png');}
    .downloadPage .contentArea section:nth-of-type(2){background-image: url('../images/download-img02.png');}
    .downloadPage .contentArea section:nth-of-type(3){background-image: url('../images/download-img03.png');}
    .downloadPage .contentArea section:not(:last-of-type){box-shadow: inset 0 -1px 0 0 #eee;}
    .downloadPage .contentArea section h3{margin-bottom: 16px;}
    .downloadPage .contentArea section p{max-width: 430px; font-size: 16px; color: #666666; line-height: 22px; margin-bottom: 40px;}
    .downloadPage .contentArea section ul{display: flex;}
    .downloadPage .contentArea section ul li:not(:last-child){margin-right: 12px; }
    .downloadPage .contentArea section ul li a{width: 194px; height: 56px; display: flex; justify-content: center; align-items: center;}
    .downloadPage .contentArea section ul li a::before{content: ''; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .downloadPage .contentArea section ul li a span{flex-shrink: 0; width: 100px; font-size: 18px; font-weight: 500; color: white; margin-left: 12px;}
    .downloadPage .contentArea section ul li a[data-type="aos"]::before{background-image: url('../images/icon-aos.png');}
    .downloadPage .contentArea section ul li a[data-type="apple"]::before{background-image: url('../images/icon-apple.png');}
    .downloadPage .contentArea section ul li a[data-type="windows"]::before{background-image: url('../images/icon-windows.png');}

    /* 상세페이지 */
    .detailPage .contentArea .titleArea{height: 204px; display: flex; flex-direction: column; justify-content: center;}
    .detailPage .contentArea .titleArea mark{font-size: 16px; font-weight: 700; line-height: 19px; margin-bottom: 16px;}
    .detailPage .contentArea .titleArea strong{font-size: 22px; margin-bottom: 50px;}
    .detailPage .contentArea .titleArea time{font-size: 14px; color: #b6b9bc;}
    .detailPage .contentArea .editor{min-height: 500px; padding: 30px 0; border-width: 1px 0; border-style: solid; border-color: #eee; box-sizing: border-box; margin-bottom: 50px;}
    .detailPage .contentArea > a{width: 140px; height: 56px; font-size: 17px; display: flex; margin: 0 auto;}
    /* 상세페이지 - 에디터 초기화 */
    .detailPage .contentArea .editor ul{display: block; list-style-type: disc; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 40px;}
    .detailPage .contentArea .editor ol{display: block; list-style-type: decimal; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 40px;}
    .detailPage .contentArea .editor b{font-weight: bold;}
    .detailPage .contentArea .editor i{font-style: italic;}
    .detailPage .contentArea .editor a{color: -webkit-link; cursor: pointer; text-decoration: underline;}
    .detailPage .contentArea .editor table{display: table; box-sizing: border-box; text-indent: initial; border-spacing: 2px; border: 1px solid #ececec; width: 100%;}
    .detailPage .contentArea .editor table tbody{display: table-row-group; vertical-align: middle; border-color: inherit;}
    .detailPage .contentArea .editor table tbody tr{display: table-row; vertical-align: inherit; border-color: inherit;}
    .detailPage .contentArea .editor table tbody tr td{display: table-cell; vertical-align: inherit; border: 1px solid #ececec; padding: 5px 3px; text-align: center;}

    /* 자주 묻는 질문 */
    .FAQPage .contentArea ul li{box-shadow: inset 0 -1px 0 0 #eee;}
    .FAQPage .contentArea ul li button{width: 100%; height: 108px; display: flex; justify-content: start; align-items: center; font-size: 20px; font-weight: 700; color: #000; padding: 0 20px;}
    .FAQPage .contentArea ul li button::before{content: 'Q.';}
    .FAQPage .contentArea ul li button::after{content: ''; width: 48px; height: 48px; background: url('../images/icon-open.png') no-repeat center / cover; margin-left: auto; transform: rotate(180deg); transition: transform 0.5s;}
    .FAQPage .contentArea ul li button.active::after{transform: rotate(0);}
    .FAQPage .contentArea ul li div{display: none; font-size: 18px; font-weight: 400; color: #666; line-height: 30px; /* height: 147px; */ padding: 40px 20px; background-color: #eeeeee; box-sizing: border-box;}
    .FAQPage .contentArea ul li div::before{content: 'A.'; color: rgba(0, 0, 0, 0.3); vertical-align: middle;}
    .FAQPage .contentArea ul li > *::before{font-size: 24px; font-weight: 700; margin-right: 19px;}

    /* 도입문의 */
    .inquiryPage .contentArea fieldset{max-width: 790px; width: calc(100% - 60px); margin: 0 auto; text-align: center;}
    .inquiryPage .contentArea fieldset ul{display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 80px; text-align: left;}
    .inquiryPage .contentArea fieldset ul li label{display: block; font-size: 15px; font-weight: 500; line-height: 18px; margin-bottom: 10px;}
    .inquiryPage .contentArea fieldset ul li:has(:required) label::after{content: '*'; color: #32c5f4;}
    .inquiryPage .contentArea fieldset ul li:not(:has(textarea)){width: 48.1%;}
    .inquiryPage .contentArea fieldset ul li:has(textarea){width: 100%;}
    .inquiryPage .contentArea fieldset ul li :is(input , select , textarea){width: 100%; height: 54px; padding: 18px; border: 1px solid #d2d2d2; border-radius: 6px; box-sizing: border-box;}
    .inquiryPage .contentArea fieldset ul li :is(input , select , textarea)::placeholder{color: rgba(25, 26, 28, 0.3);}
    .inquiryPage .contentArea fieldset ul li select{color: rgba(25, 26, 28, 0.3); background: url('../images/icon-drop-down.png') no-repeat center right 18px / 24px;}
    .inquiryPage .contentArea fieldset ul li select.active{color: #191a1c;}
    .inquiryPage .contentArea fieldset ul li textarea{height: 199px;}
    .inquiryPage .contentArea fieldset ul li:not(:last-child){margin-bottom: 50px;}
    .inquiryPage .contentArea fieldset > label{display: block; font-size: 16px; font-weight: 400; color: #777; margin-bottom: 80px;}
    .inquiryPage .contentArea fieldset > label span{color: #000; font-weight: 500; text-decoration: underline; text-decoration-thickness: 2px;}
    .inquiryPage .contentArea fieldset input[type="checkbox"] + label::before{content: ''; display: inline-block; width: 20px; height: 20px; border: 2px solid #eee; vertical-align: text-top; margin-right: 6px; box-sizing: border-box;}
    .inquiryPage .contentArea fieldset input[type="checkbox"]:checked + label::before{background: url('../images/icon-check.png') no-repeat center / cover; border: none;}
    .inquiryPage .contentArea fieldset input[type="submit"]{width: 166px; height: 62px; font-size: 19px; font-weight: 500;}
}